#service {
    padding: 60px 0;
    color: white;
  }
  
  .container-s {
    width: 100%;
    margin: 0 auto;
    
  }
  
  .section-title {
    margin-bottom: 60px;
  }
  
  .section-title h2 {
    font-size: 36px;
    font-weight: 700;
    color:white;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    width: calc(33.333% - 20px);
    margin: 10px 10px;
    margin-bottom: 20px;

  }
  
  .service-desc {
    text-align: center;
    padding: 20px;
  }
  
  .service-desc h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color:white;
  }
  
  .service-desc p {
    font-size: 16px;
    color: white;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    padding-left: 3px;
  }

.service p {
    text-align: center;

}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding as needed */

}

