.custom-container {
    width: 75%; /* Equivalent to w-3/4 */
    background-color: #fff; /* Equivalent to bg-white */
    padding: 1.25rem; /* Equivalent to px-10 and py-10 */
    margin: auto; /* Center the container horizontally */
  }
.cart-page{
  display: grid;
  place-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
