/* themeswitch.css */

.page {
  transition: background-color 0.3s ease;
  /* Add any other global styles for light mode here */
}

.page.dark-mode {
  background-color: #333; /* Change this to your preferred dark mode background color */
  color: #fff; /* Change this to your preferred dark mode text color */
}

.theme-switch__input {
  display: none;
}

.theme-switch__label {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background-color: #ddd; /* Change this to your preferred switch background color */
  border-radius: 20px;
  position: relative;
}

.theme-switch__input:checked + .theme-switch__label {
  background-color: #6b6b6b; /* Change this to your preferred checked switch background color */
}

.theme-switch__label span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #000; /* Change this to your preferred switch label text color */
}

.theme-switch__input:checked + .theme-switch__label span {
  color: #fff; /* Change this to your preferred checked switch label text color */
}

  