.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-h {
  box-shadow: grey 3px 3px 3px 3px;
  margin: 0 auto; /* Center the element horizontally */
  width: 490px;
  padding: 10px;
  background-color: #41ff47;
  color: #000;
}

.btn-otp {
  padding-left: 200px;
  padding-right: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(65, 65, 245);
  color: white;
  text-align: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.mobile {
  margin-bottom: 20px;
  padding-right: 110px;
  padding-left: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: text;
  text-align: start;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  background-color: #fff; /* Background color of the input */
  border: 2px solid #000; /* Border color of the input */
  border-radius: 5px; /* Border radius of the input */
  outline: none; /* Remove outline when focused */
  width: 100%; /* Full width of the input */
  box-sizing: border-box; /* Include padding and border in the width */
}

.instructions {
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 35px;
}

.img-1 {
  margin-top: 100px;
  margin-top: 35px;
  border-radius: 50%;
  box-shadow: grey 3px 3px 3px 3px;
}

span {
  color: black;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}
